
  <div id="home" class="container-fluid">
	<section class=" pic__1">

    <%= render partial: 'layouts/top_navbar' %>
    
		<div class="container menu">
	
    <%= render partial: 'layouts/navbar' %>

		<center><%= image_tag('img/putih.png', class: 'putih img-responsive') %><i data-toggle="modal" data-target="#myModal" class="fa fa-play"></i>
	<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-md">
      <div class="modal-content">
  
        <div class="modal-body">
       <iframe width="100%" height="300px" src="https://www.youtube.com/embed/2bHVDM0sKbA" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div></center>
		</div>
	</section>
	
	<section class="home__content--2">
		<center>
		  <%= image_tag('img/home-2.jpg') %>
		</center>
	</section>
	
	<section class="home__content--3" id="about">
	
	<center><h2><b>HARAPAN</b></h2><br><h3>-KATA KERJA [HA-RA-PAN]</h3><br><p><b>HARAPAN</b>BERARTU SESUATU YANG(DAPAT) DIHARAPKAN</p>
	<p><b>HARAPAN</b>DAPAT BERARTI JUGA KEINGINAN SUPAYA MENJADI KENYATAAN </p></center>
	</section>
	
	<section class="home__content--4" id="people__behind">
		<div class="col-md-6 col-sm-6" style="padding-left:0px">
		  <%= image_tag('img/home-4.jpg') %>
		</div>
		<div class="col-md-6 col-sm-6">
			<center>
				<h4>
					<i>People Behind</i><span><b>  HOPE</b></span>
				</h4>
			</center>
			<h3><b>janna</b> soekasah joesoef</h3>
			<h3><b>WULAN</b> GURITNO</h3>
			<h3><b>amanda</b> soekasah</h3>
			
			<h4><i>Founder of Hope</i></h4>
			<p>Bermula dari mimpi dan suatu 'harapan' kecil dari beberapa sahabat di bulan Oktober 2014 yang ingin membangkitkan solidaritas dan budaya menyumbang diantara masyarakat dan menyebarkan harapan di segala aspek dalam kehidupan melalui sebuah gelang yang dibuat dari sisa kain designer senior kebanggaan Indonesia, Ghea Panggabean yaitu Kain Pelangi Jumputan, dan Pelangi adalah simbol dari Harapan. Terciptalah Gelang Harapan #BraceletofHOPE yang kemudian menjadi suatu 'Harapan Besar' dan Kenyataan karena energi positif dan sambutan dari semua relawan dan 'Warriors of Hope'(Pejuang Harapan).Gerakkan @gelangharapan berkomitmen untuk terus menyebarkan "Harapan", berawal khususnya kepada pejuang kanker dan keluarganya, dan di tahun-tahun mendatang "Harapan" di segala aspek dalam Kehidupan.</p>
		</div>
	</section>
	
	<section  class="home__content--5">
		<div class="col-md-4 col-xs-4 col-sm-4">
		  <h3><%= link_to raw('<i>Bracelet of</i><br><b>HOPE</b>'), pages_bracelet_url %></h3>
		</div>
		<div class="col-md-4 col-xs-4 col-sm-4">
		  <h3><%= link_to raw('<i>Journey of</i><br><b>HOPE</b>'), pages_journey_url %></h3>
		</div>
		<div class="col-md-4 col-xs-4 col-sm-4">
		  <h3><%= link_to raw('<b>HOPE</b> <i>Health News</i>'), pages_news_url %></h3>
		</div>
	</section>
	
	<section class="home__content--6">
	</section>
	
	<section class="home__content--7">
		<div class="col-md-6 col-xs-6 col-sm-6 upcoming__event">
		  <%= link_to (raw(image_tag('img/Upcoming-Event/event-1.jpg', class: 'img-responsive')) + raw('<h3><i>Upcoming</i><b> Event</b></h3>')), pages_events_url %>
		</div>
		<div class="col-md-6 col-xs-6 col-sm-6 story__ofhope">
		  <%= link_to (raw(image_tag('img/Story/story-1.jpg', class: 'img-responsive')) + raw('<h3><i>Story Of</i><b> HOPE</b></h3>')), pages_story_url %>
		</div>
	</section>
	
	<section class="home__content--8" id="social__media">
		<div class="col-md-12">
			<center>
				<h3>GELANG HARAPAN</h3>
				<ul>
					<li><a><i class="fa fa-facebook"></i></a></li>		
					<li><a><i class="fa fa-instagram"></i></a></li>		
					<li><a><i class="fa fa-twitter"></i></a></li>		
				</ul>					
				<div class=" col-md-12  col-xs-12 col-sm-12">	
					<div class="message__box">	
						<i class="fa fa-eject"></i>
						<p>Sed sit amet scelerisque nibh, at facilisis erat.
						Integer ex turpis, efficitur et molestie quis,
						vehicula in quam.</p>		
					</div>		
				</div>		
			</center>
		</div>
	</section>

    
  </div>