  <div  class="container-fluid">
  <section class="share">

    <%= render partial: 'layouts/top_navbar' %>
    
    <div class="container menu">

      <%= render partial: 'layouts/navbar' %>

		</div>
		<div class="container ">

      <%= render partial: 'layouts/messages' %>	

  		<section class="share__write">
      
        <%= story_header %>

      </section>

	<section class="share__list">
	<hr>
  <% @stories.each do |story| %>
	<div class="col-md-4 col-xs-12 col-sm-12 content">
  	<h3><%= story.title %></h3>
  	<h5>by <%= story.customer.full_name %></h5>
  	<p><%= story.short_post %></p>
  	<hr>
  	<p class="pull-left"><%= story.publish_at.strftime("%d-%m-%Y %H:%M") %></p>
  	<p class="pull-right"><%= link_to 'Read', pages_story_detail_url(id: story.id) %></p>
	</div>
  <% end %>

		</section>


		</div>
	
		</section>
	
	


  </div>