  <div  class="container-fluid">
  <section class="share">
    <%= render partial: 'layouts/top_navbar' %>
    
    <div class="container menu">

      <%= render partial: 'layouts/navbar' %>

		</div>
		<div class="container ">

    <section class="share__list--detail">

  		<div class="col-md-12  col-xs-12 col-sm-12 content">
      	<h3><%= @story.title %></h3>
      	<h5>by <%= @story.customer.full_name %></h5>
      	<p><%= @story.post %></p>
	
    	</div>
		</section>

		</div>
	
	</section>
  </div>