<!-- Content
============================================= -->
<section id="content">

    <div class="content-wrap">

        <div class="container clearfix">

            <div class="col_full">

                <div class="heading-block center nobottomborder">
                    <h2 class="bottommargin-sm">THANK YOU FOR ORDERING OJASA!</h2>
                    <!--h2 class="bottommargin-sm">OUR WARRIOR WILL BE THERE SOON </h2-->

                    <div class="profile-image">
                      <%= service_profile_image(@order) %>
                    </div>
                    <!--h5><%= @order.category_name %></h5-->
                    <h4 class="name"><%= @order.service_name %><h4>
                </div>
                <div class="col-md-8 col-md-offset-2 col-x box-conf bottommargin">
                <div class="table-responsive">
                  <table class="table" cellspacing="0" cellpadding="0">
                    <tbody>
                      <tr>
                        <td style="width: 25%;">Order ID</td>
                        <td style="width: 3%;">:</td>
                        <td><%= @order.id %></td>
                      </tr>
                      <tr>
                        <td style="width: 25%;">Service</td>
                        <td style="width: 3%;">:</td>
                        <td><%= @order.category_name %></td>
                      </tr>
                      <tr>
                        <td>Date</td>
                        <td>:</td>
                        <td><%= @order.requested_date %></td>
                      </tr>
                      <tr>
                        <td>Time</td>
                        <td>:</td>
                        <td><%= @order.requested_time %> WIB</td>
                      </tr>
                      <tr>
                        <td>Price</td>
                        <td>:</td>
                        <td><%= @order.pricing_desc %></td>
                      </tr>
                      <tr>
                        <td>Name</td>
                        <td>:</td>
                        <td><%= @order.full_name %></td>
                      </tr>
                        <td>Address</td>
                        <td>:</td>
                        <td><%= @order.address %></td>
                      </tr>
                      <tr>
                        <td>Address details</td>
                        <td>:</td>
                        <td><%= @order.detail %></td>
                      </tr>
                      <tr>
                        <td>City</td>
                        <td>:</td>
                        <td><%= service_regions[@order.location] %></td>
                      </tr>
                      <!--tr>
                        <td>Post code</td>
                        <td>:</td>
                        <td>12790</td>
                      </tr-->
                      <tr>
                        <td>Telephone Num.</td>
                        <td>:</td>
                        <td><%= @order.phone %></td>
                      </tr>
                      <tr>
                        <td>Email</td>
                        <td>:</td>
                        <td><%= @order.email %></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
            </div>
            </div>

        </div>

    </div>

</section><!-- #content end -->