<!-- BEGIN HEAD -->
<head>
<meta charset="utf-8"/>
<title><%= ApplicationController::SITE_NAME %></title>
<meta http-equiv="Content-Style-Type" content="text/css" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1.0" name="viewport"/>
<meta http-equiv="Content-type" content="text/html; charset=utf-8">
<meta content="" name="author"/>

<link rel="shortcut icon" href="<%= ApplicationController::SITE_ICON %>" type="image/x-icon" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="keywords" content="" />
<meta name="description" content="" />

<!-- CSS -->
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700,300' rel='stylesheet' type='text/css'>

<%= stylesheet_link_tag 'pages/css/bootstrap.css', 'pages/icon/font-awesome.css', 'pages/icon/ionicons.css', 'css/style.css', 'pages/fonts/font.css', 'pages/vendor/royalslider.css', 'pages/vendor/skins/default/rs-default.css' %>

<!-- JavaScripts-->
<%= javascript_include_tag "pages/vendor/jquery-1.9.1.min.js", "pages/vendor/bootstrap.min.js", "pages/vendor/parallax.min.js", "pages/vendor/jquery.royalslider.min.js" %>


<%= javascript_include_tag "application" %>
<%= csrf_meta_tags %>

</head>
<!-- END HEAD -->
