<!-- BEGIN SIDEBAR -->
<div class="page-sidebar-wrapper">
	<!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
	<!-- DOC: Change data-auto-speed="200" to adjust the sub menu slide up/down speed -->
	<div class="page-sidebar navbar-collapse collapse">
		<ul class="page-sidebar-menu " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
			<li class="start heading">
				<h3 class="uppercase">Features</h3>
			</li>
			<%= li_active_open?('contents') %>
				<a href="javascript:;">
				<i class="icon-diamond"></i>
				<span class="title">Contents</span>
        <%= span_selected('contents') %>
        <span class="arrow<%= is_open?('contents') %>"></span>
				</a>
				<ul class="sub-menu">
					<%= li_active?('banners') %>
						<%= link_to raw('<i class="icon-flag"></i> Banners'), admin_contents_banners_url %>
					</li>
					<%= li_active?('videos') %>
						<%= link_to raw('<i class="icon-social-youtube"></i> Videos'), admin_contents_videos_url %>
					</li>
					<%= li_active?('news') %>
						<%= link_to raw('<i class="icon-feed"></i> News'), admin_contents_news_index_url %>
					</li>
					<%= li_active?('events') %>
						<%= link_to raw('<i class="icon-calendar"></i> Events'), admin_contents_events_url %>
					</li>
					<%= li_active?('stories') %>
						<%= link_to raw('<i class="icon-picture"></i> Stories'), admin_contents_stories_url %>
					</li>
					<!--
					<%= li_active?('galleries') %>
						<%= link_to raw('<i class="icon-picture"></i> Galleries'), admin_contents_galleries_url %>
					</li>
					-->
				</ul>
			</li>
			<%= li_active_open?('store') %>
				<a href="javascript:;">
				<i class="icon-basket"></i>
				<span class="title">Market</span>
				<%= span_selected('store') %>
        <span class="arrow<%= is_open?('store') %>"></span>
				</a>
				<ul class="sub-menu">
					<%= li_active?('customers') %>
						<%= link_to raw('<i class="icon-user-following"></i> Customers'), admin_store_customers_url %>
					</li>

					<%= li_active_open?('orders') %>
            <a href="javascript:;">
    				<i class="icon-basket"></i>
    				<span class="title">Orders</span>
    				<%= span_selected('orders') %>
            <span class="arrow<%= is_open?('orders') %>"></span>
    				</a>
    				<ul class="sub-menu">
    					<%= li_active?('pending_payment') %>
    						<%= link_to raw('<i class="icon-basket"></i> Pending Payment'),  pending_payment_admin_store_orders_url %>
    					</li>
    					<%= li_active?('paid') %>
    						<%= link_to raw('<i class="icon-basket"></i> Paid'),  paid_admin_store_orders_url %>
    					</li>
    					<%= li_active?('cancelled') %>
    						<%= link_to raw('<i class="icon-basket"></i> Cancelled'),  cancelled_admin_store_orders_url %>
    					</li>
    					<%= li_active?('all') %>
    						<%= link_to raw('<i class="icon-basket"></i> All'), admin_store_orders_url %>
    					</li>
  				  </ul>
  				</li>
				</ul>
			</li>
			<li class="heading">
				<h3 class="uppercase">Administration</h3>
			</li>
			<%= li_active_open?('settings') %>
				<a href="javascript:;">
				<i class="icon-settings"></i>
				<span class="title">Settings</span>
				<%= span_selected('settings') %>
        <span class="arrow<%= is_open?('settings') %>"></span>
				</a>
				<ul class="sub-menu">
					<%= li_active?('profile') %>          
						<%= link_to raw('<i class="icon-camera"></i> My Profile'), admin_settings_profiles_url %>
					</li>
					<%= li_active?('users') %>
						<%= link_to raw('<i class="icon-user-following"></i> Users'), admin_settings_users_url %>
					</li>
					<%= li_active?('roles') %>
						<%= link_to raw('<i class="icon-star"></i> Roles'), admin_settings_roles_url %>
					</li>
				</ul>
			</li>
			<li>
				<%= link_to raw('<i class="icon-key"></i><span class="title"> Log Out</span>'), action_admin_url(action: 'logout') %>
			</li>
		</ul>
		<!-- END SIDEBAR MENU -->
	</div>
</div>
<!-- END SIDEBAR -->
